<!DOCTYPE html>
<html>
<head>
	<link href="webjars/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" />
	<script type="text/javascript" src="webjars/jquery/3.4.1/dist/jquery.min.js"></script>
	<script type="text/javascript" src="webjars/bootstrap/4.3.1/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="../static/js/main.js" th:src="@{js/main.js}"></script>
	<meta charset="ISO-8859-1"/>
</head>
<body>

<!-- Fragment #1 : Top Navigation Bar -->
<div>
    <nav class="navbar navbar-light navbar-expand-md bg-secondary navigation-clean">
        <div class="container"><a class="navbar-brand" th:href="@{~/index}" style="color: #ffffff;">SPED Workflow</a><button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
        </div>
    </nav>
</div>
<div th:if="${param.error}">
            Invalid username and password.
        </div>
        <div th:if="${param.logout}">
            You have been logged out.
        </div>
        <form th:action="@{/login}" method="post">
            <div><label> User Name : <input type="text" name="username"/> </label></div>
            <div><label> Password: <input type="password" name="password"/> </label></div>
            <div><input type="submit" value="Sign In"/></div>
        </form>

</body>
</html>